@import '../../../colores.scss';

.section_midtext {
  color: $color-lightest;
  width: 55vw;
  margin: 10vh auto;

  .article_midtext {
    display: flex;
    flex-direction: column;
    text-align: center;

    .h1_midtext{
        font-size: calc(1vw + 1em);
        padding-bottom: 5vh;
    }

    .p_midtext {
      font-size: calc(.2vw + 1em);
    }
  }
}
