@import '../../../colores.scss';

.section {
  color: $color-lightest;
  width: 55vw;
  margin: 5% auto 5% auto;

  .article {
    display: flex;
    flex-direction: column;
    text-align: center;

    .h1{
        font-size: calc(1vw + 1em);
        padding-bottom: 5%;
    }

    .p {
      font-size: calc(.2vw + 1em);
    }
  }
}
