@import '../../colores.scss';

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 5vw;
  color: $color-lightest;
  position: relative;
  z-index: 1000;

  .h1_web_title {
    flex: 1;
    font-weight: 700;
    font-size: calc(0.5vw + 1em);
  }
  .link_username {
    font-size: calc(0.5vw + 0.6em);
    flex: 1;
    text-align: right;

    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
  .ul_metodo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20%;

    .li_metodo {
      white-space: nowrap;
      font-size: calc(0.5vw + 0.6em)
    }
  }
}

.hr {
  margin: 0 5vw;
}

.article_container_menu {
  color: $color-lightest;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  z-index: 10000;
  font-size: calc(0.5vw + 0.6em);

  .ul_lista {
    background-color: $color-dark;
    margin: 0 5vw;
    padding: 1vh 2vw;

    .li_lista {
      margin: 1vh 2vw 1vh 0;
    }
  }
}
