.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 16px 5%;

  .h1 {
    flex: 1;
    font-weight: 700;
    font-size: 20px;
    color: #d3d4d6;
  }

  .link {
    flex: 1;
    text-align: right;
    color: #d3d4d6;
    transition: all 75ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      font-weight: 700;
    }
  }

  .ul {
    display: flex;
    flex: 1;
    column-gap: 20px;
    justify-content: flex-end;
    color: #d3d4d6;

    .li {
      padding: 0xp 20px;
      transition: all 75ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.hr {
  margin: 0 5%
}
