.h1_title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  color: #d3d4d6;
  padding-top: 5%;
}

.article_container_images {
  display: flex;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;

  .swiper {
    .swiper_slide {
      display: flex;
      justify-content: center;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
