.h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  color: #d3d4d6;
  padding-top: 5%;
}

.section_route {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 750px; /* Ancho deseado */
  height: 350px; /* Alto deseado */
  margin-top: 5%;
}

.section_item {
  position: relative;
  width: 750px; /* Ancho deseado */
  height: 350px; /* Alto deseado */
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;

  &:before,
  &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:after {
    background: transparent;
    opacity: 0.5; /* Baja la opacidad de las imágenes de fondo */
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 75%
    );
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 1200px; /* Restaura el ancho al valor original */

    &:after {
      opacity: 1; /* Restaura la opacidad de las imágenes de fondo al hacer hover */
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }

    .article_content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .article_titulo {
      transform: translateX(-50%) translateY(-120%); /* Movimiento hacia arriba */
      transition: transform 0.5s ease; /* Transición suave */
    }

    .article_background {
      opacity: 1; /* Asegura la opacidad completa */
      transition: opacity 0.5s ease; /* Transición de opacidad */
    }
  }

  .article_content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
  }

  .article_titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); /* Contorno negro siempre presente */

    .p {
      font-size: 1.5rem; /* Tamaño de fuente ajustado */
    }
  }

  .article_background {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: opacity 0.5s ease; /* Transición de opacidad */
    opacity: 1; /* Asegura la opacidad completa */
  }
}
